<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
	  <authentication mode="Windows" />
	  <!--<identity impersonate="true" userName="Administrator" password="DO9mh74pZMHbNMk" />-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Increase maxJsonLength to maximum value (2 GB) -->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="/templates/login/LoginMain.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>